.header {
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  font-weight: 50;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6vw;
}
.quote {
  text-align: center;
  font-style: italic;
  font-family: "cursive";
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
}

.content {
  background-color: black;
  color: whitesmoke;
  display: block;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  text-shadow: black;
}
.matrix {
  background: url(../../Images/Matrix.jpg) top center;
  z-index: -1;
  opacity: 0.1;
  width: 99.7vw;
  height: 100vh;
  position: fixed;
}

.matrix1 {
  background: url(../../Images/Matrix.jpg) top center;
  z-index: -2;
  opacity: 0.1;
  width: 100vw;
  height: 99.7vh;
  position: fixed;
}

.links {
  margin-top: 30px;
  text-align: center;
  list-style: none;
  color: white;
}

a {
  color: white;
}
