.header {
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  font-weight: 50;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6vw;
}
.quote {
  text-align: center;
  font-style: italic;
  font-family: "cursive";
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
}

.content {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.matrix {
  background: url(../../Images/matrix.png) top center;
  z-index: -1;
  opacity: 0.3;
  width: 100vw;
  height: 70%;
  position: fixed;
}

.matrix1 {
  background: url(../../Images/matrix1.png) top center;
  z-index: -2;
  animation: fadeOutDown 20s linear infinite;
  width: 100vw;
  height: 70%;
  position: fixed;
}

.matrix2 {
  background: url(../../Images/matrix2.png) top center;
  z-index: -2;
  animation: fadeOutDown 30s linear infinite;
  width: 100vw;
  height: 70%;
  position: fixed;
}

.matrix3 {
  background: url(../../Images/matrix3.png) top center;
  z-index: -3;
  animation: fadeOutDown 40s linear infinite;
  width: 100vw;
  height: 70%;
  position: fixed;
  opacity: 0.3;
}

.matrix4 {
  background: url(../../Images/matrix4.png) top center;
  z-index: -4;
  animation: fadeOutDown 10s linear infinite;
  width: 100vw;
  height: 80%;
  position: fixed;
  opacity: 0.3;
}

@keyframes fadeOutDown {
  from {
    opacity: 0.2;
  }

  to {
    opacity: -1;
    transform: translate3d(0, 70%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

.links {
  margin-top: 30px;
  text-align: center;
  list-style: none;
  color: white;
}

a {
  color: white;
}
