.header {
  text-align: center;
  font-style: italic;
  font-family: "cursive";
}

body {
  text-align: center;
}

.links {
  text-align: left;
  margin-left: 40px;
  float: left;
}

.ball {
  float: right;
  margin-right: 15%;
  margin-top: 40px;
}

a {
  color: black;
}

.circle {
  border: 1px solid black;
  /* border-radius: 50%; */
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
