.top {
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-family: "cursive";
  font-size: large;
}

body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: left;
  background-color: lightgray;
}

.mHeader {
  text-align: left;
}

.Middle {
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  padding: 10px;
}

.sidebyside {
  padding: 20px;
  text-align: left;
  margin-left: 65px;
}

aside {
  margin: 5%;
  width: 20%;
  padding: 20px;
  margin-left: 15%;
  border: solid gray;
  border-width: 5px;
  box-shadow: 10px 10px 10px rgb(255, 227, 246);
  text-align: center;
}

.Bottom {
  text-align: center;
}
