.top {
  padding-left: 30px;
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-family: "cursive";
  font-size: large;
}

body {
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: left;
  background-color: rgb(237, 237, 237);
}

.mHeader {
  text-align: center;
}

.Middle {
  margin-left: 25px;
  margin-right: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  padding: 10px;
}

.sidebyside {
  padding: 20px;
  text-align: left;
  margin: 65px;
}

aside {
  margin: 6%;
  width: 20%;
  padding: 20px;
  margin-left: 15%;
  margin-top: 8%;
  border: solid lightgrey;
  box-shadow: 10px 10px 10px lightpink;
  text-align: center;
  height: 100%;
}

.Bottom {
  text-align: center;
}
