.top {
  padding: 10px;
  text-align: center;
  font-style: italic;
  font-family: "cursive";
  font-size: large;
}
.quote {
  text-align: center;
  font-style: italic;
  font-family: "cursive";
}

.mHeader {
  text-align: left;
}

.row {
  display: flex;
  padding: 10px;
}

.sidebyside {
  padding: 10px;
  text-align: left;
  margin-left: 45px;
}

aside {
  padding: 10px;
  text-align: left;
  border-left: dotted;
  margin-left: 20%;
  margin-right: 5%;
}

.Bottom {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}
