body {
  color: #fff;
  letter-spacing: 1px;
}

.header {
  margin: 20px;
  text-align: center;
}

.success {
  color: #0ff40f;
}

.error {
  color: #960303;
}

.form {
  margin: 7%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
