.resumePic {
  background: url(/src/Images/Lryder.jpg) no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  width: 98.5vw;
  height: 100vh;
}

.bodyContent {
  text-align: center;
  font-stretch: expanded;
  color: whitesmoke;
}

.title {
  font-size: 5vw;
  font-style: italic;
  font-family: "cursive";
  margin: 1px;
  line-height: 0.8;
}

.jobDescription {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 6%;
}

.quote {
  margin: 11%;
  font-size: 1.7vw;
  letter-spacing: 0.2px;
  margin-top: 5%;
}

em {
  font-size: xx-large;
  letter-spacing: 0.8px;
  color: pink;
}

.icons {
  letter-spacing: 20px;
}

.iconButton:hover {
  background-color: pink;
}

.cert {
  margin: 15px;
  margin-top: 6%;
  opacity: 80%;
}

.coin {
  margin: 15px;
  opacity: 90%;
}
