.resumePic {
  background: url(/src/Images/Lryder.jpg) no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bodyContent {
  text-align: center;
  font-stretch: expanded;
  color: whitesmoke;
}

.title {
  font-size: 8vw;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  font-weight: 10;
  margin: 1px;
  line-height: 0.8;
  z-index: 1;
}

.jobDescription {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 6%;
}

.quote {
  margin: 11%;
  font-size: 1.7vw;
  letter-spacing: 0.2px;
  margin-top: 7%;
}

em {
  font-size: xx-large;
  letter-spacing: 0.8px;
  color: rgb(255, 227, 246);
}

.icons {
  letter-spacing: 20px;
}

.iconButton:hover {
  background-color: transparent;
}

.cert,
.coin,
.dply {
  margin: 15px;
  margin-top: 10px;
  opacity: 90%;
}
