.navContainer {
  background-color: black;
  overflow-x: hidden;
}

.headerInner {
  padding-left: 18px;
  margin-left: 40%;
  padding-top: 25px;
}

.navButton {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  padding: 12px;
}

.navButton:hover {
  background-color: pink;
}

.navbar:a.active {
  background-color: gray;
}

.leftSide {
  position: absolute;
  left: 15%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.rightSide {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 15%;
}

.time {
  text-align: right;
  font-size: x-small;
  margin-right: 10px;
  line-height: 2px;
}
